name: Package and release

on:
  push:
    tags:
      - 'Classic-[0-9]+.[0-9]+.[0-9]+'

jobs:

  release:

    runs-on: ubuntu-latest

    env:
      CF_API_KEY: ${{ secrets.CF_API_KEY }}
      WOWI_API_TOKEN: ${{ secrets.WOWI_API_TOKEN }}
      WAGO_API_TOKEN: ${{ secrets.WAGO_API_TOKEN }}
      GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}

    steps:

      - name: Clone project
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Package and release
        uses: BigWigsMods/packager@master
        with:
          args: -w 0 -g bcc